<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<title>{{title}}</title>

<link rel="icon" href="/assets/img/Logo_Onegai.jpg">

<!-- General CSS Files -->
<link rel="stylesheet" href="/assets/temp/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/temp/fontawesome/css/all.css">

<!-- CSS Libraries -->
<link rel="stylesheet" href="/assets/assets/js/jqvmap/jqvmap.min.css">
<link rel="stylesheet" href="/assets/weathericons/css/weather-icons.min.css">
<link rel="stylesheet" href="/assets/weathericons/css/weather-icons-wind.min.css">
<link rel="stylesheet" href="/assets/assets/js/summernote/summernote-bs4.css">

<!-- Template CSS -->
<link rel="stylesheet" href="/assets/assets/css/style.css">
<link rel="stylesheet" href="/assets/assets/css/components.css">
<link rel="stylesheet" href="/assets/css/datatables.css">