<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="background: linear-gradient(99deg, rgb(24,205,225), rgb(162,251,32) 100%);">
    <div class="container">
        <a class="navbar-brand logo" href="#" style="color: var(--bs-white);">
            <i class="fa fa-book"></i> <span id="tiped"> Onegai Shelter</span>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav" style="border-radius: 8px;border-width: 4px;"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/projects-grid-cards.html">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="/cv.html">CV</a></li>
                <li class="nav-item"><a class="nav-link" href="/hire-me.html">Hire me</a></li>
            </ul>
        </div>
    </div>
</nav>