<tr>
    <td>{{username}}</td>
    <td>{{password}}</td>
    <td>{{level}}</td>
    <td>
        <button>edit</button>
        <button>
            <a href="/user/hapus/{{username}}">hapus</a>
        </button>
    </td>
</tr>