<!DOCTYPE html>
<html>

{{>header this}}

<body style="background: #ffffff;">
    <!-- {{>nav}} -->
    <main class="page lanidng-page">
        {{{body}}}
    </main>
    {{>footer}}
</body>

</html>