<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<title>{{title}}</title>

<link rel="icon" href="/assets/img/Logo_Onegai.jpg">

<!-- General CSS Files -->
<link rel="stylesheet" href="/assets/temp/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/temp/fontawesome/css/all.css">

<!-- CSS Libraries -->
<link rel="stylesheet" href="/assets/assets/js/jqvmap/jqvmap.min.css">
<link rel="stylesheet" href="/assets/weathericons/css/weather-icons.min.css">
<link rel="stylesheet" href="/assets/weathericons/css/weather-icons-wind.min.css">
<link rel="stylesheet" href="/assets/assets/js/summernote/summernote-bs4.css">

<!-- Template CSS -->
<link rel="stylesheet" href="/assets/assets/css/style2.css">
<link rel="stylesheet" href="/assets/assets/css/components.css">
<link rel="stylesheet" href="/assets/css/datatables.css">
<style>
    .navbar-bg{
        z-index: 1;
    }
    /* .navbar-bg a span{
        display: none;
    } 
    .navbar-bg a:hover > span{
        display: initial;
    } */
</style>
</head>

<body>
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg d-flex justify-content-end align-items-center">
                {{#if user.nama}}
                <h5 class="mb-4 text-white mr-4"> {{user.nama}}</h5>
                {{else}}
                <h5 class="mb-4 text-white mr-4"> Dimas abista</h5>
                {{/if}}
                <a href="/logout" class="btn btn-danger mb-4 mr-4"><i class="fa fa-external-link-alt"></i> <span> keluar</span></a>
            </div>
            
            <!-- Main Content -->

            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        {{{body}}}
                    </div>
                </section>
            </div>
            {{>admin_footer}}
        </div>
    </div>

    <!-- General JS Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.js"></script>
    <script src="/assets/temp/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/nicescreoll.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script> -->
    <script src="/assets/assets/js/stisla.js"></script>
    <script src="/assets/js/datatables.js"></script>


    <!-- JS Libraies -->
    <script src="/assets/simpleweather/jquery.simpleWeather.min.js"></script>
    <script src="/assets/assets/js/chart.js/Chart.min.js"></script>
    <script src="/assets/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="/assets/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/assets/assets/js/summernote/summernote-bs4.js"></script>
    <script src="/assets/assets/js/chocolat/js/jquery.chocolat.min.js"></script>

    <!-- Template JS File -->
    <script src="/assets/assets/js/scripts.js"></script>
    <script src="/assets/assets/js/custom.js"></script>

    <!-- Page Specific JS File -->
    <!-- <script src="/assets/assets/js/page/index-0.js"></script> -->
    <!-- <script src="/assets/assets/js/randomtr.js"></script> -->

</body>

</html>